*	{
	font-family: sans-serif;
	font-size: 15px;
}
p	{
	font-weight: bold;
}
h1	{
	font-size:35px;
}
#h2_id {
	text-transform: uppercase ;
}
li[class="ttbu"]{
	border: 1px solid green;
}
.ltbl{
	background-color: yellowgreen;
}
p + ul	{
	letter-spacing: 5px;
	list-style-type: none;
}

ul li img{
	width: 100px;
	height: 100px;
}
section ~ p{
	text-align: center;
}



